.rvmrc
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
.ruby-version
.ruby-gemset
InstalledFiles
/.yardoc/
_yardoc
coverage
doc/
/.bundle/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
